# Ignore everything
*

# Except .gitignore
!.gitignore

# Except README.md and LICENCE
!README.md
!LICENCE

# Except the snakefile
!Snakefile

# Except scripts
!scripts

# Except example configuration files
!example_config.yaml
!example_cluster.yaml

# Except example cluster wrapper script
!example_submit_snakemake.sh
