# Ignore everything
*

# Except .gitignore
!.gitignore

# Except README.md and LICENCE
!README.md
!LICENCE

# Except the snakefile
!Snakefile

# Except scripts
!scripts

# Except configuration files
!example_config.yaml
!cluster.yaml

# Except the wrapper script
!submit_snakemake.sh
